.testimonial__container {
  width: 750px;
}

.testimonial__card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.testimonial__img {
  width: 60px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.testimonial__name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25re;
}

.testimonial__description {
  font-size: 0.875rem;
}

/* Swiper Class */
.swiper-pagination-bullet {
  background-color: hsl(0, 0%, 46%) !important;
}

.swiper-pagination-bullet-active {
  background-color: hsl(0, 0%, 20%) !important;
}

/*=============== BREAKPOINTS ===============*/
/* large devices */
@media screen and (max-width: 992px) {
  .testimonial__container {
    width: initial;
  }

  .testimonial__card {
    padding: 1.25rem 1.5rem;
  }
}
